<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>
    <th:block th:if="${visit['new']}" th:text="#{new}">New </th:block>
    Visit
  </h2>

  <b th:text="#{pet}">Pet</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th th:text="#{name}">Name</th>
        <th th:text="#{birthDate}">Birth Date</th>
        <th th:text="#{type}">Type</th>
        <th th:text="#{owner}">Owner</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${pet.name}"></td>
      <td th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></td>
      <td th:text="${pet.type}"></td>
      <td th:text="${owner?.firstName + ' ' + owner?.lastName}"></td>
    </tr>
  </table>

  <form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <th:block th:if="${visit['new']}">
        <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}" />
      </th:block>
      <div class="form-group" th:unless="${visit['new']}">
        <label class="col-sm-2 control-label" th:text="#{date}">Date</label>
        <div class="col-sm-10">
          <p class="form-control-static" th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></p>
        </div>
      </div>
      <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="petId" th:value="${pet.id}" />
        <button th:with="text=${visit['new']} ? #{addVisit} : #{updateVisit}" class="btn btn-primary" type="submit"
          th:text="${text}">Add Visit</button>
      </div>
    </div>
  </form>

  <br />
  <b th:text="#{previousVisits}">Previous Visits</b>
  <table class="table table-striped">
    <tr>
      <th th:text="#{date}">Date</th>
      <th th:text="#{description}">Description</th>
      <th></th>
    </tr>
    <tr th:if="${!previousVisit['new']}" th:each="previousVisit : ${pet.visits}">
      <td th:text="${#temporals.format(previousVisit.date, 'yyyy-MM-dd')}"></td>
      <td th:text=" ${previousVisit.description}"></td>
      <td>
        <a th:href="@{/owners/{ownerId}/pets/{petId}/visits/{visitId}/edit(ownerId=${owner.id},petId=${pet.id},visitId=${previousVisit.id})}"
          th:text="#{editVisit}">Edit Visit</a>
      </td>
    </tr>
  </table>

</body>

</html>
