[Unit]
Description=Spring PetClinic
After=network.target

[Service]
User={{ petclinic_user }}
Group={{ petclinic_group }}
WorkingDirectory={{ petclinic_home }}
ExecStart=/usr/bin/java -jar {{ petclinic_home }}/spring-petclinic.jar --server.port={{ petclinic_port }}
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
